/WebApplication-01/nbproject/private/
/WebApplication-01/build/
/WebApplication-02-HTML-CSS-JavaScript/nbproject/private/
/WebApplication-02-HTML-CSS-JavaScript/build/
/WebApplication3-a/nbproject/private/
/WebApplication3-a/build/
/WebApplication3-a/dist/
/WebApplication-03-a/nbproject/private/
/WebApplication-05/nbproject/private/
/WebApplication-05/build/
/WebApplication-06/nbproject/private/
/WebApplication-06/build/
/WebApplication-06/dist/
/WebApplication-07/nbproject/private/
/WebApplication-07/build/
/WebApplication-08/nbproject/private/
/WebApplication-08/build/
/WebApplication-09/nbproject/private/
/WebApplication-09/build/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/JavaApplication2/nbproject/private/
/WebApplication-12/nbproject/private/
/WebApplication-12/build/
/WebApplication-13a/nbproject/private/
/WebApplication-13a/build/
/WebApplication-13a/dist/
/WebApplication-13b/nbproject/private/
/WebApplication-13b/build/
/WebApplication-13b/dist/
/WebApplication-14/nbproject/private/
/WebApplication-14/build/
/WebApplication-14/dist/
/WebApplication-15/nbproject/private/
